.Header {
    height: 30vh;
}

.banner-about {
    /* width: 500px; */
    height: 70vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.banner-about .about-text {
    color: #fff;
    width: 600px;
    line-height: 30px;
    font-size: 20px;
}

@media only screen and (max-width: 900px) {
    body {
    height: auto;
    width: auto;
    background-image: url(images/phone_img.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}
}
