.Header {
    height: 30vh;
}

.banner-about {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 200px; /* add 10px space between items */
}

.banner-about .linkedin {
    color: inherit;
    width: 80px;
    color: #fff;
    font-size: 20px;
}

.banner-about .linkedin a {
    color: inherit;
}

.banner-about .email {
    width: 280px;
    color: #fff;
    font-size: 20px;
}

.banner-about .website {
    color: inherit;
    width: 80px;
    color: #fff;
    font-size: 20px;
}

.banner-about .website a {
    color: inherit;
}

@media only screen and (max-width: 900px) {
    .banner-about {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px; /* add 10px space between items */
    }
    
.banner-about .linkedin {
    color: inherit;
    width: 50px;
    color: #fff;
    font-size: 15px;
}

.banner-about .email {
    width: 200px;
    color: #fff;
    font-size: 15px;
}

.banner-about .website {
    color: inherit;
    width: 50px;
    color: #fff;
    font-size: 15px;
}
    
body {
    height: auto;
    width: auto;
    background-image: url(images/phone_img.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}
    
}
